.comp-cabecalho {
    display: flex;
    align-items: center;
    width: 100%;


    background-color: #000;

    img {
        width: 90px;
        margin-left: 6%;
    }

    .nav {

        display: flex;
        gap: 20%;
        margin-left: 40%;

        .links{
            
            text-decoration: none;
            color: #fff;
            font: 500 15px 'Poppins';

        }

        
        .links:hover{

            color: #db4545;
            transition: 701ms;
            
        }

    }

    button{

        display: flex;
        margin-left: 200px;
        border-style: none;
        border-radius: 10%;


        .but{

            text-decoration: none;
            padding: 10px;
            color: #000;

        }

    }

    button:hover{

        background: linear-gradient(0deg,#db4545,#db4545);
        box-shadow: inset 0px 1px 0px 0px #d34a4a,
        inset 0px -4px 0px 0px #db4545,
        0px 0px 0px 4px #070303,
        0px 0px 280px 0px #e68d8d;
        transform: translateY(-2px);
            
    }
    

}



