.pagina-contato {

    .titulo {

        display: flex;
        justify-content: center;
        margin: 3% 0;

        h2 {

            border-bottom: 2px solid #db4545;

        }

    }

    main {

        .contato {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10%;

            gap: 20%;

            .cont {

                display: flex;
                align-items: center;
                gap: 10%;
                max-width: 80%;
                background-color: #161515;
                padding: 60px;
                border-radius: 10px;

                .bloco {

                    display: flex;
                    flex-direction: column;

                    gap: 30px;

                    P {

                        font: 400 15px 'Poppins';
                        line-height: 170%;

                    }

                }

                .social-links {

                    a {
                        color: #fff;
                        text-decoration: none;
                    }

                    .social-link {

                        text-decoration: none;
                        color: #fff;
                        transition: transform 0.3s;
                        padding-bottom: 6%;

                    }

                    .social-link:hover {

                        transform: scale(1.1);
                        color: #db4545;

                    }

                }

            }
        }


    }

    @media (max-width: 768px) {
        .contato {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .cont {
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }


}