.dashboard-overview {

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 10px 5px;
  background-color: #161515;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219), 0 6px 20px rgba(0, 0, 0, 0.219);
  border-radius: 10px;

  h3 {

    font: 500 18px 'Poppins';
    color: #fff;
    text-align: center;

  }

  .section {

    display: flex;
    align-items: center;
    gap: 15%;

    .input-section {

      display: flex;
      flex-direction: column;
      width: 60%;
      background-color: #161515;
      padding: 8px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219), 0 6px 20px rgba(0, 0, 0, 0.219);


      h3 {

        font: 500 13px 'Poppins';
        color: #fff;
        margin-bottom: 8px;
        border-bottom: 2px solid #db4545;
        text-align: center;

      }

      .input-row {

        display: flex;
        gap: 14px;

      }

      .input-group {

        display: flex;
        flex-direction: column;
        align-items: start;

        @media (max-width: 770px) {}

        label {

          font: 500 13px 'Poppins';
          color: #fff;
          margin: 5px 2px;

        }

        input {

          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 8px;
          font: 400 14px 'Poppins';

          &::placeholder {

            color: #aaa;

          }

        }

      }

    }

  }

  .chart-section {

    display: flex;
    gap: 20px;

    .chart-container {

      background-color: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      h3 {

        font: 600 16px 'Poppins';
        color: #444;
        margin-bottom: 10px;

      }

      canvas {

        width: 100% !important;
        height: 240px !important;

      }

    }

  }

}