.pagina-home {

    main {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img1 {

            border-radius: 12px;

        }

        p {

            font: 500 22px "Poppins";

        }

        .container {

            max-width: 75vw;

            .carousel {

                display: flex;
                overflow-x: auto;
                scroll-behavior: smooth;
                gap: 30%;

                .item {

                    margin: 0px;
                    padding: 10px;
                    width: 70%;
                    flex: none;

                    .image img {

                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;

                    }

                    .info {

                        height: 140px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        span {

                            display: block;
                            text-align: center;

                        }

                        .name {

                            font-size: 1.2rem;
                            font: 20px "Poppins";
                            margin: 10px;

                        }

                    }

                }

            }

            .buttons {

                width: 100%;
                text-align: center;

                button {

                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    margin: 2%;

                }

            }
        }

        .container{

            .carousel::-webkit-scrollbar{

                display: none;
                
            }
        }

    }

}