.pagina-comunidade {

    .titulo {

        display: flex;
        justify-content: center;
        margin: 3% 0;

    }

    .comunidade {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10%;

        gap: 20%;

        .cont {

            display: flex;
            align-items: center;

            .bloco {

                display: flex;
                flex-direction: column;

                gap: 30px;

                P {

                    font: 400 15px 'Poppins';
                    line-height: 170%;

                }

            }

            img {

                border-radius: 8px;
                width: 370px;
                height: 200px;

            }

        }

            .but {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #161515;
                padding: 30px;
                border-radius: 10px;
                margin-top: 5%;

                a {
                    text-decoration: none;
                    color: #000000;
                }

                button {

                    margin-top: 6%;
                    background-color: #fff;
                    color: #000000;
                    border-style: none;
                    border-radius: 8px;
                    padding: 7px;
                    width: 110px;
                    font: 500 13px 'Poppins';
                    cursor: pointer;
                    transition: all 0.5s;

                }

                button:hover {

                    transform: scale(1.07);
                    background-color: #db4545;
                    transition: all 0.5s;

                }

            }

        }

    }
