.pagina-comunidade {

    .titulo {

        display: flex;
        justify-content: center;
        margin: 3% 0;

    }

    .comunidade {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15% 10% 20% 10%;

        gap: 20%;

        .bloco {

            display: flex;
            flex-direction: column;

            gap: 30px;

            P {

                font: 400 15px 'Poppins';
                line-height: 170%;

            }

        }

        img {

            border-radius: 8px;
            width: 370px;
            height: 200px;

        }

    }

}