
.comp-cabecalho {

    background-color: #000;
    display: flex;
    align-items: center;
    gap: 390px;

    .img{
        padding-left: 4%;
    }

    img {

        width: 90px;
        margin-top: 0.5%;
        margin-left: 6%;

    }
    img:hover{
        transform: translateX(2px);
    }


    .nav {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;

        a {
            text-decoration: none;
        }

        .links {

            text-decoration: none;
            color: #fff;
            font: 500 14px 'Poppins';

        }


        .links:hover {

            color: #db4545;
            transition: 701ms;

        }

        .active {

            color: #db4545;
            font: 600 15px 'Poppins';
            text-decoration: none;

        }

    }

}