.comp-cabecalho {
    display: flex;
    align-items: center;
    width: 100%;


    background-color: #000;

    img {
        width: 90px;
        margin-top: 1%;
        margin-left: 6%;
    }

    .nav {

        display: flex;
        gap: 20%;
        margin-left: 45%;

        .links{
            
            text-decoration: none;
            color: #fff;
            font: 500 15px 'Poppins';

        }

        
        .links:hover{

            color: #db4545;
            transition: 701ms;
            
        }

    }

}



