.comp-enderecos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 100%;

    background-color: #2d2e30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219), 0 6px 20px rgba(0, 0, 0, 0.219);
    padding: 40px 10px;
    border-radius: 15px;

}