.comp-footer{

    display: flex;
    flex-wrap: wrap;
    background-color: #0e0d0d;
    margin-top: 2%;
    min-height: 10vh;
    padding-left: 34%;
    color: #aca8a8;

    .nav{
    
        padding-bottom: 1.5%;
        padding-left: 2%;

        section{
    
            display: flex;
            flex-wrap: wrap;
            gap: 65px;
            margin-top: 6%;
            margin-left: 20%;
            a{
                transition: all 0.2s ease-in-out;
                color: #aca8a8;
            
            }
    a:hover{
                transform: scale(1.2);
            }
            
            

        }
    
        p{
    
            display: flex;
            justify-content: center;
            align-items: center;
            font: 500 20px 'Poppins';
            padding-top: 10%;
            gap: 25px;
    
        }
    
        .c{
    
            font-size: x-small;
    
        }
    
        .m{
    
            font: 400 18px 'Poppins';
            color: #706A6A;
            padding-top: 5%;
    
        }
    
        .n{
    
            font: 400 15px 'Poppins';
            color: #aca8a8;
            padding-top: 5%;
    
        }

    }
    
}

@media(max-width: 1024px){

    .comp-footer{

        padding-left: 15%;

        .nav{

            section {
                margin-left: 10%;
                gap: 45px;
            }

            p {
                font-size: 18px;
            }

        }


    }

}

@media(max-width: 768px){

    .comp-footer{

        flex-direction: column;
        padding-left: 5%;

        .nav {
            padding-bottom: 3%;
            section {
                flex-direction: row;
                margin-left: 0;
                gap: 20px;
            }

            p {
                padding-top: 5%;
                font-size: 16px;
            }
        }

    }

}

@media(max-width: 480px){

    .comp-footer{

        padding-left: 0px;
        text-align: center;

        .nav{

            section {
                flex-direction: column;
                margin-top: 4%;
                gap: 10px;
            }

            p {
                font-size: 14px;
            }

            .m, .n {
                font-size: 14px;
                padding-top: 2%;
            }

            .c {
                font-size: xx-small;
            }

        }
    }

}