.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 3%;

    .slider-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            
            width: 600px;
            height: 250px;
            object-fit: cover;
            border-radius: 12px;
            
        }
    }

    .slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 30px;
        padding: 10px;
        border: none;
        cursor: pointer;
        z-index: 10;
        transition: 0.3s ease;

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}