.pagina-intencao {
    padding: 40px;

    .top {
        display: flex;
        align-items: center;
        gap: 50px;
        padding-bottom: 22px;
    }

    h1 {
        padding-bottom: 18px;
    }

    a {
        font-size: 17px;
        color: #000;
        padding: 0px 0px 15px 10px;
        text-decoration: none;
    }

    a:hover {
        color: #2f72c9;
        font-weight: 700;
    }

    p {
        padding-left: 200px;
        margin-bottom: 10px
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        >div {
            display: flex;
            align-items: center;

            label {
                display: inline-block;
                width: 200px;
                text-align: right;
                padding-right: 10px;
                font: 400 24px 'Poppins';
            }

            input {
                font: 400 20px 'Poppins';
                padding: 5px;
                border: 1px solid #000;
            }
        }
    }

    button {
        font: 600 18px 'Poppins';
        padding: 6px 10px;
        margin: 27px 0px 0px 100px;
        border: none;
        background-color: #2f72c9;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
    }

    button:hover {

        background-color: #1857aa;
        transition: 0.7s;
    }
}