.pagina-faq {
    
    .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6%;

        h2 {

            border-bottom: 2px solid #db4545;

        }

    }
    
    .faq {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5% 14%;
        gap: 20px;

        .textos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: start;
            margin-bottom: 10%;
            background-color: #161515;
            border-radius: 10px;
            padding: 70px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219), 0 6px 20px rgba(0, 0, 0, 0.219);
            width: 100%;
            margin-bottom: 150px;
            
            h1 {
                font: 500 40px 'Poppins';
                
            }

            p {
                font: 500 18px 'Poppins';
                line-height: 170%;
                margin-top: 10px;

            }
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .drop {
                width: 500px;
                margin-bottom: 30%;

                .item {
                    background: #161515;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219), 0 6px 20px rgba(0, 0, 0, 0.219);
                    margin-bottom: 12px;
                    padding: 10px 20px;
                    border: #db4545 solid 1px
                }

                .title {
                    color: #fff;
                    font: 500 13px 'Poppins';
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding-bottom: 5px;
                }

                .content {
                    font: 500 13px 'Poppins';
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
                    padding-top: 5px;
                }

                .content.show {
                    height: auto;
                    max-height: 9999px;
                    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
                }

            }

        }

    }

    @media (max-width: 768px) {
        .faq {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .textos {

                display: flex;
                align-items: center;
                width: 100%;

                text-align: center;

            }

            .wrapper {
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }

}